language: python
python:
- 2.6
- 2.7
- 3.4
- 3.5
- 3.6
- pypy

install:
    - travis_retry pip install -q -r requirements-tests.txt

before_script:
    # stop the build if there are Python syntax errors or undefined names.
    - if [[ $TRAVIS_PYTHON_VERSION != '2.6' ]]; then flake8 sshuttle --count --select=E901,E999,F821,F822,F823 --show-source --statistics; fi
    # exit-zero treats all errors as warnings.  The GitHub editor is 127 chars wide.
    - if [[ $TRAVIS_PYTHON_VERSION != '2.6' ]]; then flake8 sshuttle --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics; fi

script:
  - PYTHONPATH=. py.test
